NET "clock" LOC = P56 | IOSTANDARD = LVCMOS33;
#NET "led[0]" LOC = P134 | IOSTANDARD = LVCMOS33;
#NET "led[1]" LOC = P133 | IOSTANDARD = LVCMOS33;
#NET "led[2]" LOC = P132 | IOSTANDARD = LVCMOS33;
#NET "led[3]" LOC = P131 | IOSTANDARD = LVCMOS33;
#NET "led[4]" LOC = P127 | IOSTANDARD = LVCMOS33;
#NET "led[5]" LOC = P126 | IOSTANDARD = LVCMOS33;
#NET "led[6]" LOC = P124 | IOSTANDARD = LVCMOS33;
#NET "led[7]" LOC = P123 | IOSTANDARD = LVCMOS33;
net led loc=p134 | IOSTANDARD = LVCMOS33;
NET "reset" LOC = P38 |IOSTANDARD = LVCMOS33;
