//NET "clock" LOC = P56 | IOSTANDARD = LVCMOS33;//50mhz
NET "tx" LOC = P51 |IOSTANDARD = LVCMOS33;
NET "reset" LOC = P38 |IOSTANDARD = LVCMOS33;
NET "led1" LOC = P131 |IOSTANDARD = LVCMOS33;
NET "clock" LOC = P84 |IOSTANDARD = LVCMOS33;//12mhz clock
NET "led2" LOC = P133 |IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2018/07/15
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 20 ns HIGH 50%;
