//NET "clk" LOC = P56 | IOSTANDARD = LVCMOS33;
NET "tx" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "reset" LOC = P38 | IOSTANDARD = LVCMOS33;
NET "k" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "clk" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "led2" LOC = P133 | IOSTANDARD = LVCMOS33;