#  Spartan-6 SP601 Evaluation Platform
Net fpga_0_RS232_Uart_1_RX_pin LOC=K14;
Net fpga_0_RS232_Uart_1_TX_pin LOC=L12;
Net fpga_0_DIP_Switches_4Bits_GPIO_IO_I_pin<0> LOC=D14;
Net fpga_0_DIP_Switches_4Bits_GPIO_IO_I_pin<1> LOC=E12;
Net fpga_0_DIP_Switches_4Bits_GPIO_IO_I_pin<2> LOC=F12;
Net fpga_0_DIP_Switches_4Bits_GPIO_IO_I_pin<3> LOC=V13;
Net fpga_0_LEDs_4Bits_GPIO_IO_O_pin<0> LOC=E13;
Net fpga_0_LEDs_4Bits_GPIO_IO_O_pin<1> LOC=C14;
Net fpga_0_LEDs_4Bits_GPIO_IO_O_pin<2> LOC=C4;
Net fpga_0_LEDs_4Bits_GPIO_IO_O_pin<3> LOC=A4;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<0> LOC=N17;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<1> LOC=M18;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<2> LOC=A3;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<3> LOC=L15;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<4> LOC=F15;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<5> LOC=B4;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<6> LOC=F13;
Net fpga_0_GPIO_HDR_GPIO_IO_O_pin<7> LOC=P12;
Net fpga_0_Push_Buttons_4Bits_GPIO_IO_I_pin<0> LOC=P4;
Net fpga_0_Push_Buttons_4Bits_GPIO_IO_I_pin<1> LOC=F6;
Net fpga_0_Push_Buttons_4Bits_GPIO_IO_I_pin<2> LOC=E4;
Net fpga_0_Push_Buttons_4Bits_GPIO_IO_I_pin<3> LOC=F5;
Net fpga_0_IIC_EEPROM_Sda_pin LOC=N10  |  SLEW=SLOW  |  DRIVE=6;
Net fpga_0_IIC_EEPROM_Scl_pin LOC=P11  |  SLEW=SLOW  |  DRIVE=6;
Net fpga_0_SPI_FLASH_SCK_pin LOC=R15  |  IOSTANDARD=LVCMOS25;
Net fpga_0_SPI_FLASH_MISO_pin LOC=R13  |  IOSTANDARD=LVCMOS25;
Net fpga_0_SPI_FLASH_MOSI_pin LOC=T13  |  IOSTANDARD=LVCMOS25;
Net fpga_0_SPI_FLASH_SS_pin LOC=V3  |  IOSTANDARD=LVCMOS25;
Net fpga_0_MCB_DDR2_rzq_pin IOSTANDARD = LVCMOS18_JEDEC;
Net fpga_0_MCB_DDR2_zio_pin IOSTANDARD = LVCMOS18_JEDEC;
Net fpga_0_Ethernet_MAC_PHY_tx_clk_pin LOC=B9;
Net fpga_0_Ethernet_MAC_PHY_rx_clk_pin LOC=L16;
Net fpga_0_Ethernet_MAC_PHY_crs_pin LOC=M13;
Net fpga_0_Ethernet_MAC_PHY_dv_pin LOC=N18;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<3> LOC=T18;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<2> LOC=U17;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<1> LOC=U18;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<0> LOC=M14;
Net fpga_0_Ethernet_MAC_PHY_col_pin LOC=L14;
Net fpga_0_Ethernet_MAC_PHY_rx_er_pin LOC=P17;
Net fpga_0_Ethernet_MAC_PHY_rst_n_pin LOC=L13  |  TIG;
Net fpga_0_Ethernet_MAC_PHY_tx_en_pin LOC=B8;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<3> LOC=B6;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<2> LOC=A6;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<1> LOC=G8;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<0> LOC=F8;
Net fpga_0_Ethernet_MAC_PHY_MDC_pin LOC=N14;
Net fpga_0_Ethernet_MAC_PHY_MDIO_pin LOC=P16;
Net fpga_0_clk_1_sys_clk_p_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;
Net fpga_0_clk_1_sys_clk_p_pin LOC=K15;
Net fpga_0_clk_1_sys_clk_n_pin LOC=K16;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=N4;
